$color-primary-light: rgb(255, 148, 60);
$color-primary: #fa9c11;
$color-primary-dark: rgb(255, 102, 0);

$text-color-dark-1: rgb(83, 83, 83);
$text-color-dark-2: #949494;

$text-color-light-1: rgb(189, 189, 189);

$color-grey-light-1: #f7f7f7;
